html,body {
  background-color:#fff;
  touch-action: none; /*Fix Chrome touch scroll errors*/
}
.row .col {position: relative;}

img {
  width:100%;height:auto;
}

#toolbar {
  display: block;
  position: fixed;
  width: 100%;
  z-index: 10;
  top:0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @media (max-width:600px) {
    position: absolute;
  }
}
#toolbar-bg {
  display: block;
  position: fixed;
  width: 100%;
  z-index: 10;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0 16px;
  @media (max-width:600px) {
    position: absolute;
  }
}



#actions {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 64px;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 3vw;

  .icon {
    padding: 7px;
    margin: 2px;
    vertical-align: middle;

    a {
      h1 {
        margin:0; padding:0;
        font-size:15px;
        font-style: normal;
        font-weight: 600;
      }
      span {
        font-weight: 900;
      }
      .logo {
        width:150px;
      }
    }
  }

  .spacer {
    flex: 1;
  }

  svg {
    display: inline-block;
    pointer-events: none;
    position: relative;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    fill: #fff;
  }
}

#title {
  padding: 21px;
  position: absolute;
  bottom: 0;
  color: #fff;
  text-align:center;
  line-height: 1em;

  width:80%;
  left:50%;
  margin-left:-40%;

  h2 {
    font-size: inherit;
    margin:0;padding:0;

  }
  .logo {
    width:400px;
  }
}

#categories {
  padding: 21px;
  position: relative;
  color: #fff;
  text-align:center;
  line-height: 1em;
  font-weight: 900;
  width:80%;
  left:50%;
  margin-left:-40%;
}

main {
#index {
    #AboveTheFold {
        width:100%;
        height: auto;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        h1 {
            text-align: center;
            margin: 0;
            padding: 10vw;
        }
    }
  }
}

.modal {
  overflow: hidden;
  padding:5vh;
  width:55%;
  .row, .col { padding:0;margin:0; }
  img {
    border-radius: 50%;
    background-color:#f3f3f3;
  }
  .modal-close {
    position:absolute;
    bottom:0;right:0;
  }

  .modal-cta {
    padding: 6px 24px;
    background-image: linear-gradient(to right, #396afc, #2948ff);
    color:#fff;
    border-radius: 6px;
    font-size: 1em;
    font-weight: 600;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    transition: all .2s;
    cursor: pointer;

    &:hover {
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
  }

  @media (min-width:1700px) {
    h5 {
      margin-top:5vh;
    }
  }
  @media (max-width:992px) {
    width:80%;
    padding:5vh 3vh;
  }
  @media (max-width:600px) {
    width:97%;
    padding:5vh 0;
    .col { padding: 0 10px; }
  }

}

footer {
  box-shadow: 0 50px 0 rgba(2,6,8, 1);
  margin-top:20vh;
  color:#cfd8dc;padding:10vh 0 10vh 0;min-height:30vh;background-color:rgba(2,6,8, 1);
}
footer h3 {
    color:#eceff1;font-size:1em
}
footer a, footer p {
    color:#78909c;font-size:0.8em;transition:all .3s;margin: 3px 0;
}
footer a:hover{color:#eceff1
}
footer .copyright {
    color:#455a64;margin:25px 0
}
footer .copyright hr {
    margin:25px 0;border:0;height:0;border-top:1px solid rgba(0,0,0,0.1);border-bottom:1px solid rgba(255,255,255,0.3)
}
footer .copyright h1 {
    font-size:1em;margin:0;display:inline
}
footer .copyright a {
    color:#455a64;font-size:1em
}
footer .copyright a:hover{
    color:#fff
}
footer .row{
    margin-bottom:0
}
footer .socialIcons{
    font-size:2em
}
footer img {
  padding:10% 20% 20% 20%;
  @media (max-width:992px) {
    padding:10% 30% 10% 2%;
  }
  @media (max-width:600px) {
    padding:20% 0 20% 0;
  }
}


.flow-text {
    @media (max-width: 600px) {
        font-size:1.7em !important;
    }
}
