html,body {
  background-color:#fff;
  touch-action: none; /*Fix Chrome touch scroll errors*/
}
.row .col {position: relative;}

img {
  width:100%;height:auto;
}

#toolbar {
  display: block;
  position: fixed;
  width: 100%;
  z-index: 10;
  top:0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @media (max-width:600px) {
    position: absolute;
  }
}
#toolbar-bg {
  display: block;
  position: fixed;
  width: 100%;
  z-index: 10;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0 16px;
  @media (max-width:600px) {
    position: absolute;
  }
}

#actions {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 64px;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 3vw;

  .icon {
    padding: 7px;
    margin: 2px;
    vertical-align: middle;

    a {
      font-style: normal;
      font-weight: 600;

      span {
        font-weight: 900;
      }
    }
  }

  .spacer {
    flex: 1;
  }

  svg {
    display: inline-block;
    pointer-events: none;
    position: relative;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    fill: #fff;
  }
}

#title {
  padding: 21px;
  position: absolute;
  bottom: 0;
  color: #fff;
  text-align:center;
  line-height: 1em;
  font-weight: 900;
  width:80%;
  left:50%;
  margin-left:-40%;
}

#categories {
  padding: 21px;
  position: relative;
  color: #fff;
  text-align:center;
  line-height: 1em;
  font-weight: 900;
  width:80%;
  left:50%;
  margin-left:-40%;
}

main {
#index {
    #AboveTheFold {
        width:100%;
        height: auto;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        h1 {
            text-align: center;
            margin: 0;
            padding: 10vw;
        }
    }
  }
}

footer {
  padding: 5vh 0 5vh 0;
  color:#0c1920;

  @media (max-width:600px) {
    padding: 0;
  }

  h3 {
    text-align: center;
    padding:15vh 0;
    color:#4d77a1;
    font-weight: 900;

    @media (max-width:600px) {
      padding: 8vh 0 5vh 0;
    }
  }
  a {
    color:#0c1920;
    transition: all .2s;

    @media (max-width:600px) {
      width:100%;
      text-align: center;
    }
    &:hover {
      color:#4d77a1;
    }
  }
  hr {
    border: solid 1px rgba(0,0,0, 0.1);
  }
  .copyright {
    color:rgba(0,0,0, 0.3);
  }
}
