#page {

.content-wrapper { padding-top: 450px; }
.content-wrapper-landing { padding-top: 250px; }
.content-wrapper-category { padding-top: 250px; }

img {
  width:100%;height:auto;
}

.grid {
  position: relative;
  display: grid;
  width: 860px;
  margin: 30px auto;
  background-color: #fff;
  box-shadow: 0 0 60px rgba(0,0,0,.1);
  border-radius: 2px;
  padding-bottom:5vh;
  // grid setup
  grid-template-columns: repeat(2, minmax(min-content, max-content));
  grid-gap: 0px;

  @media (max-width:1380px) {
    grid-template-columns: repeat(1, minmax(min-content, max-content));
  }
  @media (max-width:992px) {
    width: 720px;
  }
  @media (max-width:780px) {
    width: 96%;
  }
}

#breadcrumb {
  position: relative;
  display: block;
  width: 860px;
  margin: 30px auto;
  color:#dcdde1;
  font-weight: 900;

  @media (max-width:992px) {
    width: 720px;
  }
  @media (max-width:780px) {
    width: 96%;
  }
  .chip {
    background-color: #40739e;
    color:#dcdde1;
  }
}

#content {
  padding:5vh 0;

  ul {
    width:860px;
    @media (max-width:1380px) {
      width:100%;
    }
    li {
      width:100%;
      padding: 5vh 0;
    }
    hr {
      margin:2vh 0;
      border: solid 1px #f5f6fa;
    }
  }

  h2 {
    color:#000;
    padding: 0 2vw;
  }
  p {
    font-size:1.2em;
    padding: 2vh 2vw;
  }
  .btn {
    margin: 2vh 2vw;
  }
  iframe {
    padding:2vh 0;
  }
  .row {
    @media (max-width:600px) {
      padding:0vh 6vw;
    }
  }
}

#value {
  padding:35vh 0;
  background-image: url(../assets/uploads/iPad-bg.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  @media (max-width:600px) {
    padding: 5vh 0 10vh 0;
    background-image:none;
    img {
      margin-top: 5vh;
    }
  }
}

#cta {
  position: relative;
  padding: 17vh 15vw 13vh 15vw;
  background-color:#364046;

  @media (max-width:1600px) { padding: 17vh 10vw 15vh 10vw; }
  @media (max-width:1200px) { padding: 17vh 0 15vh 0; }

  .logoWall {
    div { margin-bottom:50px; }
  }

  .cta-btn {
    position:absolute;
    width:500px;
    text-align: center;
    left: calc(50% - 250px);
    top: -35px;
    padding: 20px 20px;
    background-image: linear-gradient(to right, #396afc, #2948ff);
    color:#fff;
    border-radius: 12px;
    font-size: 1.5em;
    font-weight: 600;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    transition: all .2s;
    cursor: pointer;

    &:hover {
      box-shadow: 0 19px 88px rgba(0,0,0,0.40), 0 15px 52px rgba(0,0,0,0.32);
    }
  }
}


#production {
  padding: 25vh 0 15vh 0;
  background-color:#0d1215;
  color:#fff;
  h4 {
    line-height: 1.5em;
  }
  @media (max-width:600px) {
    padding: 15vh 0;
  }
}

#partner {
  padding: 10vh 0 25vh 0;
  background-color:#020608;

  h5 {
    padding: 10vh 0 10vh 0;
    width:100%;
    text-align: center;
    color:#fff;

    &:after {
      content: "";
      display: block;
      margin: 0 auto;
      width: 10%;
      padding-top: 20px;
      border-bottom: 3px solid #2948ff;
      border-radius: 3px;
    }
  }

  @media (max-width:600px) {
    padding: 5vh 0 10vh 0;
  }

}

#blog {
  padding: 20vh 0;
  h2 {
    font-weight: 900;
    font-size:2em;
  }
  a { color:#fff; }
  .blogWrapper {
    padding:5vh 2vw,
  }
  .blogCard {
    position: relative;
    padding:20px;
    width:100%;
    height:500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 10px;
    box-shadow: 0 19px 68px rgba(0,0,0,0.30), 0 15px 68px rgba(0,0,0,0.22);
    transition: all .2s;

    &:hover {
      box-shadow: 0 9px 28px rgba(0,0,0,0.40), 0 5px 28px rgba(0,0,0,0.32);
    }

    h3 {
      font-size:2em;
      font-weight: 900;
      width:80%;
      @media (max-width:1600px) { font-size:1.9em; }
      @media (max-width:1500px) { font-size:1.8em; }
      @media (max-width:1400px) { font-size:1.7em; }
      @media (max-width:1300px) { font-size:1.6em; }
      @media (max-width:600px) { font-size:3em; }
    }
    p {
      font-weight: 100;
      width:80%;
      @media (max-width:1600px) { font-size: 20px !important; }
      @media (max-width:1500px) { font-size: 18px !important; }
      @media (max-width:1400px) { font-size: 17px !important; }
      @media (max-width:1300px) { font-size: 16px !important; }
      @media (max-width:1300px) { font-size: 15px !important; }
      @media (max-width:600px) { font-size: 20px !important; }
    }
    .btn {
      position: absolute;
      bottom:40px;
      right:40px;
      color:#020608;
      border-radius: 5px;
      background-color:#fff;
      box-shadow: 0 19px 68px rgba(0,0,0,0.30), 0 15px 68px rgba(0,0,0,0.22);
    }

  }
}


#getStartet {
  padding:15vh 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  color:#fff;
  ul li {
      list-style-type: circle;
  }

  @media (max-width:600px) {
    padding: 10vh 0;
  }
}

#team {
  padding: 10vh 0 5vh 0;

  .col {
    padding: 50px;
  }
  .headline {
    padding: 10vh 0;
    width:100%;
    text-align: center;
    color:#000;

    &:after {
      content: "";
      display: block;
      margin: 0 auto;
      width: 10%;
      padding-top: 20px;
      border-bottom: 3px solid #2948ff;
      border-radius: 3px;
    }
    @media (max-width:600px) {
      padding: 5vh 0;
    }

  }

  p {
    &:after {
      content: "";
      display: block;
      width: 50px;
      padding-top: 20px;
      border-bottom: 3px solid #000;
      border-radius: 3px;
    }
  }

  @media (max-width:600px) {
    padding: 5vh 0 0 0;
  }

}

#category {
  .read-more {
    text-align: center;
    padding: 10px 20px;
    margin: 0 2vw;
    background-image: linear-gradient(to right, #396afc, #2948ff);
    color:#fff;
    border-radius: 8px;
    font-size: 1em;
    font-weight: 100;
    box-shadow: 0 9px 8px rgba(0,0,0,0.20), 0 5px 4px rgba(0,0,0,0.12);
    transition: all .2s;
    cursor: pointer;

    &:hover {
      box-shadow: 0 9px 18px rgba(0,0,0,0.20), 0 5px 14px rgba(0,0,0,0.12);
    }
  }
}


.maps {
  width:100%;
  height:600px;
}

/*TOC START*/
.truncate {color:inherit !important;}
#toc {
  position: relative;
  width: 100%;
  color:#fff;//.truncate inherit
  margin-top:30px;
  margin-left:-30px;
  font-size:16px;

  @media (max-width:1380px) {
    display:none;
  }

  .pinned {
    top:49px !important;
  }

  ul {
    background-color: #008BF5;
    position: absolute;
    width:200px;
    min-height: 100px;
    padding:30px 20px;
    li {
      width:100%;
    }
    a {
      color:#fff;
      width:100%;
    }
    ul a { color:#f1f1f1; }
  }
}

/*TOC END*/

} //End

.landing {

  #toolbar.hide-on-med-and-up {
    h2 { font-size:36px; }
  }
  #toolbar.hide-on-small-only {
    h2 { }
  }

  h3 {
    font-size: 28px;
    font-weight: 900;
    text-align:center;
    @media (max-width:1300px) { padding: 0 0 5vh 0; }
  }
  section {  }

  #cards {
    padding: 5vh 10vw;
    @media (max-width:1300px) { padding: 5vh 5vw; }

    .col {
      padding: 50px 50px 0 50px;
      @media (max-width:1300px) { padding: 25px 25px 0 25px; }
    }
    h5 {
      font-size:22px;
      font-weight: 900;
    }

  }

  #contact {

    .fix-container {
      width:1180px;
      margin: 0 auto;
      @media (max-width:1300px) {
        width:100%;
        padding: 0 5vw;
      }
    }

    .row {
      div { padding: 0 30px; }
    }

    .headline {
      padding: 10vh 0;
      width:100%;
      text-align: center;
      color:#000;

      &:after {
        content: "";
        display: block;
        margin: 0 auto;
        width: 10%;
        padding-top: 20px;
        border-bottom: 3px solid #2948ff;
        border-radius: 3px;
      }
      @media (max-width:600px) { padding: 5vh 0; }

    }

    h5 {
      margin-top:50px;
      @media (max-width:1300px) { margin-top:20px; }
      @media (max-width:600px) { margin-top:20px; }
    }

    img {

    }

    .landing-cta {
        padding: 6px 24px;
        background-image: linear-gradient(to right, #396afc, #2948ff);
        color:#fff;
        border-radius: 6px;
        font-size: 1em;
        font-weight: 600;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        transition: all .2s;
        cursor: pointer;

        &:hover {
          box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        }
    }

  }

}
