#page {

.content-wrapper { padding-top: 450px; }
.content-wrapper-category { padding-top: 250px; }

img {
  width:100%;height:auto;
}

.grid {
  position: relative;
  display: grid;
  width: 860px;
  margin: 30px auto;
  background-color: #fff;
  box-shadow: 0 0 60px rgba(0,0,0,.1);
  border-radius: 2px;
  padding-bottom:5vh;
  // grid setup
  grid-template-columns: repeat(2, minmax(min-content, max-content));
  grid-gap: 0px;

  @media (max-width:1380px) {
    grid-template-columns: repeat(1, minmax(min-content, max-content));
  }
  @media (max-width:992px) {
    width: 720px;
  }
  @media (max-width:780px) {
    width: 96%;
  }
}

#breadcrumb {
  position: relative;
  display: block;
  width: 860px;
  margin: 30px auto;
  color:#dcdde1;
  font-weight: 900;

  @media (max-width:992px) {
    width: 720px;
  }
  @media (max-width:780px) {
    width: 96%;
  }
  .chip {
    background-color: #40739e;
    color:#dcdde1;
  }
}

#content {
  padding:5vh 0;

  ul {
    width:860px;
    @media (max-width:1380px) {
      width:100%;
    }
    li {
      width:100%;
      padding: 5vh 0;
    }
    hr {
      margin:2vh 0;
      border: solid 1px #f5f6fa;
    }
  }

  h2 {
    color:#000;
    padding: 0 2vw;
  }
  p {
    font-size:1.2em;
    padding: 2vh 2vw;
  }
  .btn {
    margin: 2vh 2vw;
  }
  iframe {
    padding:2vh 0;
  }
  .row {
    @media (max-width:600px) {
      padding:0vh 6vw;
    }
  }
}

#value {
  padding:35vh 0;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  @media (max-width:600px) {
    padding: 5vh 0 10vh 0;
  }
}

#cta {
  position: relative;
  padding: 10vh 0;
  background-color:#364046;

  .cta-btn {
    position:absolute;
    width:500px;
    text-align: center;
    left: calc(50% - 250px);
    top: -35px;
    padding: 20px 20px;
    background-image: linear-gradient(to right, #396afc, #2948ff);
    color:#fff;
    border-radius: 12px;
    font-size: 1.5em;
    font-weight: 600;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    transition: all .2s;
    cursor: pointer;

    &:hover {
      box-shadow: 0 19px 88px rgba(0,0,0,0.40), 0 15px 52px rgba(0,0,0,0.32);
    }
  }
}


#production {
  padding: 25vh 0;
  background-color:#0d1215;
  color:#fff;
  h4 {
    line-height: 1.5em;
  }
}

#partner {
  padding: 10vh 0 25vh 0;
  background-color:#020608;

  h5 {
    padding: 10vh 0 10vh 0;
    width:100%;
    text-align: center;
    color:#fff;

    &:after {
      content: "";
      display: block;
      margin: 0 auto;
      width: 10%;
      padding-top: 20px;
      border-bottom: 3px solid #2948ff;
      border-radius: 3px;
    }
  }

}

#getStartet {
  padding:10vh 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  color:#fff;
  ul li {
      list-style-type: circle;
      font-weight: 600;

  }
}

#team {
  padding: 10vh 0 5vh 0;

  .col {
    padding: 50px;
  }
  .headline {
    padding: 10vh 0 10vh 0;
    width:100%;
    text-align: center;
    color:#000;

    &:after {
      content: "";
      display: block;
      margin: 0 auto;
      width: 10%;
      padding-top: 20px;
      border-bottom: 3px solid #2948ff;
      border-radius: 3px;
    }
  }

  p {
    &:after {
      content: "";
      display: block;
      width: 50px;
      padding-top: 20px;
      border-bottom: 3px solid #000;
      border-radius: 3px;
    }
  }

}


/*TOC START*/
.truncate {color:inherit !important;}
#toc {
  position: relative;
  width: 100%;
  color:#fff;//.truncate inherit
  margin-top:30px;
  margin-left:-30px;

  @media (max-width:1380px) {
    display:none;
  }

  .pinned {
    top:49px !important;
  }

  ul {
    background-color: #008BF5;
    position: absolute;
    width:200px;
    min-height: 100px;
    padding:30px 20px;
    a { color:#fff; }
    ul a { color:#f1f1f1; }
  }
}

/*TOC END*/

} //End
