@import url(https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700italic,700,900italic,900);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900);
@import 'materialize-src/sass/materialize';
@import 'nav';
@import 'pricing';

html, body { overflow-x: hidden; }
img { width:100%;height:auto; }

.lang {
  position: fixed;
  top:1vh;
  right:1vw;
  z-index:9999;

  .btn-floating.btn-large {
    width:40px;
    height:40px;
  }
  ul li .btn-floating {
    width:30px;
    height:30px;
  }

.fixed-action-btn ul {
  bottom:46px;
}

  img {

  }
}


header {
    background-image: url(../img/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    transition: all .5s;

    padding:10vh 0;

    height:75vh;
    @media (max-width:990px) {
        height:90vw;
    }
    @media (max-width:600px) {
        height:70vh;
    }
    @media (max-width:400px) {
        height:60vh;
    }

    /*video {
        position: absolute;
        top:0;left:0;
        width:100%;
        height:40vh;
        object-fit: cover;
    }*/

    figure {
        position: absolute;
        margin:0;padding:0;
        top:0;left:0;
        width:100%;
        height:75vh;
        object-fit: cover;
        background-image: linear-gradient(to bottom right,
            rgba(12, 25, 32, .85),
            rgba(12, 25, 32, 1)
        );
        @media (max-width:990px) {
            height:90vw;
        }
    @media (max-width:600px) {
        height:70vh;
    }
    @media (max-width:400px) {
        height:60vh;
    }
    }

    .logo {
        width:80%;
        margin-top: 15vh;
         @media (max-width:990px) {
            display:block;
            width:80%;
            height:auto;
             margin: 0 auto;
        }
    }

    h2 {
        position: relative;
        color:#fff;
        font-weight: 100;
        @media (max-width:1400px) {
            font-size: 2.5em;
        }
        @media (max-width:990px) {
            font-size:3em;
            text-align: center;
            margin-bottom: 10vw;
        }
    }
    a {
        border-radius: 4px;
        padding: 7px 25px;
        background-image: linear-gradient(to bottom right,
            rgba(116, 193, 167, 1),
            rgb(56, 124, 101)
        );
        color:#fff;
        font-weight: 900;
        box-shadow:
            0 16px 24px 2px rgba(0,0,0,0.14),
            0 6px 30px 5px rgba(0,0,0,0.12),
            0 8px 10px -7px rgba(0,0,0,0.2);
        transition: all .2s;
        &:hover {
            box-shadow:
                0 4px 5px 0 rgba(0,0,0,0.14),
                0 1px 10px 0 rgba(0,0,0,0.12),
                0 2px 4px -1px rgba(0,0,0,0.3);
        }
        @media (max-width:990px) {
            display: none;
        }
    }
    img {
        position: relative;
    }

    .row, .col {
        margin:0;padding:0;
    }
    .laptop {
        position: absolute;
        top:3vh;
        right:-300px;
        width:127vh;
        height:auto;

        @media (max-width:990px) {
            width:100%;
            top:40vh;
            right:0;
        }
    }

}


main {

    position: relative;
    background:transparent;
    width:100%;
    min-height: 200vh;
    padding-bottom: 20vh;


    section {

        padding: 10vh 0;
        @media (max-width:990px) {
            &:first-child {
                padding:20vh 0 10vh 0;
            }
        }
        @media (max-width:400px) {
            &:first-child {
                padding:10vh 0;
            }
        }

        .row .col {
            margin:0;padding:0;
        }
        h1 {
            font-size: 2.5em;
            font-weight: 900;
        }
        h2 {
            font-size: 2.5em;
            font-weight: 900;
        }
    }

    #cta-heading {
        padding:10vh 0;
        background:
                    linear-gradient(
            rgba(12, 25, 32, 0.9),
            rgba(12, 25, 32, 1)
        ),
        url(../img/content01.jpg);
        background-size: cover;

        color:#fff;
        ul li {
            list-style-type: circle;
            font-weight: 600;

        }
    }


    #pricing {
        h2 { width:100%;text-align: center;margin-bottom:15vh; }


    }

    #team {

        .col{
           padding:10px;
        }
        h2 { width:100%;text-align: center;margin-bottom:15vh; }
    .carousel {
        height: 960px !important;
        margin-top: -10vh;
        @media only screen and (max-width : 400px){
            height: 1080px;
        }

        .carousel-item {
            background-color: #fff;
            color: #000;
            width: 350px;
            height:auto;
            box-shadow: 0 0 10px rgba(46, 59, 125, 0.43);
            border-radius: 20px 20px 10px 10px;

            @media only screen and (max-width : 600px){
                width: 80vw;
            }

            img {
                border-top-right-radius: 15px;
                border-top-left-radius: 15px;
            }
            .carouselDesc {
                padding: 0 20px 12px 20px;

                h4 {
                    font-weight: 900;
                }
                p {

                }
                button {
                    background:none;
                    border:none;
                    color:#01579b;
                    transition: all 0.2s;
                    padding:8px 11px;
                    font-size: 1.5em;

                    &:hover {
                        color:#03a9f4;
                    }
                }
            }
        }
    }
    }


}


footer {
   color:#cfd8dc;padding:50px 0 50px 0;min-height:30vh;background-color:#0c1920;
}
footer h3 {
    color:#eceff1;font-size:1em
}
footer a, footer p {
    color:#78909c;font-size:0.8em;transition:all .3s;margin: 3px 0;
}
footer a:hover{color:#eceff1
}
footer .copyright {
    color:#455a64;margin:25px 0
}
footer .copyright hr {
    margin:25px 0;border:0;height:0;border-top:1px solid rgba(0,0,0,0.1);border-bottom:1px solid rgba(255,255,255,0.3)
}
footer .copyright h1 {
    font-size:1em;margin:0;display:inline
}
footer .copyright a {
    color:#455a64;font-size:1em
}
footer .copyright a:hover{
    color:#fff
}
footer .row{
    margin-bottom:0
}
footer .socialIcons{
    font-size:2em
}


.flow-text {
    @media (max-width: 600px) {
        font-size:1.7em !important;
    }
}
