---
layout: default
---

<main id="page"><div id="category">

  <div id="toolbar" class="hide-on-med-and-up" data-0="height:200px;" data-400="height: 200px;" style="background-image: url({{ site.url }}{{ page.image }});">
    <div class="toolar-bg" data-0="height:200px;background-color:rgba(2,6,8, 1);" data-200="height:200px;background-color:rgba(2,6,8, 1);">
    <div id="actions">
      <div class="icon">
        <a href="/" data-0="color:rgba(255,255,255,.5);" data-200="color:rgba(255,255,255,1);">Optipeople</a>
      </div>
      <div class="spacer"></div>
    </div>
    <div id="title" data-0="font-size: 36px; padding: 0 0 56px 0;" data-400="font-size: 36px; padding: 0 0 16px 0;">
      <div id="categories" class="" data-0="font-size: 16px; padding: 0 0 42px 0;" data-400="font-size: 16px; padding: 0 0 16px 0;">
        <!--WikiWhy-->
      </div>
      <h1 data-0="font-weight: 900;" data-400="font-weight: 900;">#{{ page.tag }}</h1>
    </div>
    </div>
  </div>


  <div id="toolbar" class="hide-on-small-only" data-0="height:200px;" data-200="height: 64px;" style="background-image: url({{site.url}}{{ page.image }});">
    <div class="toolar-bg" data-0="height:200px;background-color:rgba(2,6,8, .5);" data-200="height:64px;background-color:rgba(2,6,8, 1);">

    <div id="actions">
      <div class="icon">
        <a href="/" data-0="color:rgba(255,255,255,1);" data-200="color:rgba(255,255,255,1);">Optipeople</a>
      </div>

      <div class="spacer"></div>

    </div>
    <div id="title" class="" data-0="font-size: 76px; padding: 0 0 42px 0;" data-200="font-size: 18px; padding: 0 0 21px 0;">
      <div id="categories" class="" data-0="font-size: 16px; padding: 0 0 42px 0;" data-200="font-size: 16px; padding: 0 0 32px 0;">
        <!--WikiWhy-->
      </div>
      <h1 data-0="font-weight: 900;" data-400="font-weight: 900;">#{{ page.tag }}</h1>
    </div>
    </div>
  </div>

  <div class="content-wrapper-category">

    <div id="breadcrumb">
        Alle kategorier <br><br>
      {% for category in site.categories %}
        <a class="chip" href="/{{ category[0] }}">{{ category[0] }}</a>
      {% endfor %}

    </div>

      <div class="grid">
        <div id="content">
              <ul>
              {% for post in site.categories[page.tag] %}
                <li>
                  <a href="{{site.url}}{{ post.url }}"><h2>{{ post.title }}</h2></a>
                  <a href="{{site.url}}{{ post.url }}"><img src="/assets/uploads/{{ post.date | date: '%Y-%m-%d' }}-{{post.slug}}.jpg"></a>
                  <p>{{ post.description }}</p>
                  <a href="{{site.url}}{{ post.url }}" class="read-more waves-effect waves-light modal-trigger">Læs artikel</a>
                </li>
                <hr>
              {% endfor %}
              </ul>
        </div>

      </div>
  </div>

</div></main>
