<!DOCTYPE html>
<html>
<head>

{% seo %}

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<link rel='shortcut icon' type='image/x-icon' href='/assets/uploads/icon.ico' />

{% include base.html %}

<link rel="stylesheet" href="/css/main.css" media="none" onload="if(media!='all')media='all'"><noscript><link rel="stylesheet" href="/css/main.css"></noscript>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" media="none" onload="if(media!='all')media='all'"><noscript><link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"></noscript>

<style>
  .load-animate{opacity:0}
  .load-animate.loaded{transition:opacity 500ms cubic-bezier(0.39, 0.575, 0.565, 1);transition-delay:.2s;opacity:1}
</style>


<!-- Start of Async Drift Code -->
<script>
"use strict";

!function() {
  var t = window.driftt = window.drift = window.driftt || [];
  if (!t.init) {
    if (t.invoked) return void (window.console && console.error && console.error("Drift snippet included twice."));
    t.invoked = !0, t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ],
    t.factory = function(e) {
      return function() {
        var n = Array.prototype.slice.call(arguments);
        return n.unshift(e), t.push(n), t;
      };
    }, t.methods.forEach(function(e) {
      t[e] = t.factory(e);
    }), t.load = function(t) {
      var e = 3e5, n = Math.ceil(new Date() / e) * e, o = document.createElement("script");
      o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + n + "/" + t + ".js";
      var i = document.getElementsByTagName("script")[0];
      i.parentNode.insertBefore(o, i);
    };
  }
}();
drift.SNIPPET_VERSION = '0.3.1';
drift.load('k59v5ebbmbrd');
</script>
<!-- End of Async Drift Code -->
</head>
<body class="load-animate">
<div id="skrollr-body">

<a id="nav-cta-btn" class="waves-effect waves-light hi-btn" href="https://portal.optipeople.dk" target="_blank">Login</a>
<a id="nav-cta-btn" class="waves-effect waves-light modal-trigger" href="#modal1">Book en gratis demo</a>

<div id="nav-icon">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
</div>
<div id="nav-content">
    <ul>
      <h4>Optipeople</h4>
        <a href="/"><li><h2>Forside<h2></li></a>
        <a href="/kontakt"><li><h2>Kontakt<h2></li></a>
        <a href="/opticloud-fordele"><li><h2>Fordele ved Opticloud<h2></li></a>
      <h4>Nye indlæg:</h4>
        {% for post in site.posts limit:5 %}
            <a href="{{ post.url }}"><li><h2 class="truncate">{{ post.title }}</h2></li></a>
        {% endfor %}
    </ul>
</div>

{{ content }}


<footer>
    <div class="container">
     <div class="row">
            <div class="col s12 m6 l4">
                <h3 class="flow-text">Info</h3>
                <ul class="flow-text">
                    <li><p>Mail: support@optipeople.dk</p></li>
                    <li><p>Tlf.: (+45) 77 34 11 55</p></li>
                    <li><p>Sønderskovvej 17</p></li>
                    <li><p>8362 Hørning</p></li>
                    <li><p>OptiPeople ApS</p></li>
                    <li><p>CVR: 32883532</p></li>
                </ul>
            </div>
            <div class="col s12 m6 l3">
                <h3 class="flow-text">Nyt fra Optipeople</h3>
                <ul class="flow-text">
                  {% for post in site.posts limit:5 %}
                      <a href="{{ post.url }}" class="truncate">{{ post.title }}</a>
                  {% endfor %}
                </ul>
            </div>
            <div class="col s12 m6 l5">
                <img src="/assets/uploads/logo.png" alt="Optipeople logo">
            </div>
        </div>
        <div class="row">
            <div class="copyright">
                <hr>
                <div class="col s6">
                   © Optipeople ApS
                </div>
                <div class="col s6">
                    <a class="right" href="mailto:support@optipeople.dk" target="_blank">support@optipeople.dk</a>
                    <a class="right" href="https://portal.optipeople.dk" target="_blank">Portal login&nbsp;&nbsp;|&nbsp;&nbsp;</a>
                </div>
            </div>
        </div>
    </div>
</footer>

</div>

<!-- Modal Structure -->
<div id="modal1" class="modal">
  <a href="#!" class="modal-close waves-effect waves-green btn-flat">LUK</a>
    <div class="row">
      <div class="col s6 m4">
        <img src="/assets/uploads/Kim.png">
      </div>
      <div class="col s6 m6 push-m1">
        <h5>Kim Dannesboe</h5>
        <h6><a href="mailto:kda@optipeople.dk">kda@optipeople.dk</a><br><br>(+45) 23 74 47 05</h6>
        <p>
          For at starte din måling på produktionen, kontakt Kim Dannesboe i dag og hør hvordan vi kommer igang hurtigt og effektivt.<br><br>
        </p>
        <a href="mailto:kda@optipeople.dk" class="modal-cta">Start samtalen her</a>
      </div>
    </div>
</div>

<!--JavaScript-->
<script type="text/javascript" src="/assets/js/jquery331.js"></script>

<script type="text/javascript" src="/assets/js/materialize.min.js"></script>
<script type="text/javascript" src="/assets/js/skrollr.js"></script>
<script type="text/javascript" src="/assets/js/main.js"></script>


<script>
$(document).ready(function () {
  $(".load-animate").addClass("loaded");
});
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-131205818-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-131205818-1');
</script>

</body>
</html>
