---
layout: default
---
<main id="page" class="landing">

  <div id="toolbar" class="hide-on-med-and-up" data-0="height:250px;" data-250="height: 250px;" style="background-image: url({{ page.image }});">
    <div class="toolar-bg" data-0="height:250px;background-color:rgba(0,0,0,.3);" data-250="height:250px;background-color:rgba(0,0,0,.9);">
      <div id="actions">
        <div class="icon">
          <a href="/" data-0="color:rgba(255,255,255,1);" data-250="color:rgba(255,255,255,1);">
            <img src="/assets/uploads/logo.png" class="logo" alt="Optipeople logo" style="width:150px;">
          </a>
        </div>
      </div>
      <div id="title" data-0="font-size: 36px; padding: 0 0 56px 0;" data-250="font-size: 36px; padding: 0 0 16px 0;">
        <div id="categories" class="" data-0="font-size: 16px; padding: 0 0 42px 0;" data-250="font-size: 16px; padding: 0 0 16px 0;">
          <!--Optipeople-->
        </div>
        <h2 data-0="font-weight: 900;" data-250="font-weight: 900;">{{ page.heading }}</h2>
      </div>
    </div>
  </div>


  <div id="toolbar" class="hide-on-small-only" data-0="height:250px;" data-250="height: 64px;" style="background-image: url({{ page.image }});">
    <div class="toolar-bg" data-0="height:250px;background-color:rgba(0,0,0,.45);" data-250="height:64px;background-color:rgba(0,0,0,.8);">

    <div id="actions">
      <div class="icon">
        <a href="/" data-0="color:rgba(255,255,255,1);" data-400="color:rgba(255,255,255,1);"><h1>Optipeople</h1></a>
      </div>

    </div>
    <div id="title" class="" data-0="font-size: 46px; padding: 0 0 42px 0;font-weight: 900;" data-250="font-size: 18px; padding: 0 0 21px 0;font-weight: 100;">
      <div id="categories" class="" data-0="font-size: 16px; padding: 0 0 42px 0;" data-250="font-size: 16px; padding: 0 0 32px 0;">
        <img src="/assets/uploads/logo.png" class="logo" alt="Optipeople logo" style="width:250px;">
      </div>
      <h2 data-0="font-weight: 900;" data-250="font-weight: 900;">{{ page.heading }}</h2>
    </div>
    </div>
  </div>

<div class="content-wrapper-landing">
  {{ content }}
</div>

</main>
